.backgroundContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-height: 15em;
  max-height: 80vh;
  max-width: fit-content;
  padding: 2em;
  margin: 0 auto;
  border-radius: 1em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  user-select: none;
  outline: 0;
  position: absolute;
  top: -2.1em;
  right: -2.45em;
  cursor: pointer;
}

.close:hover {
  user-select: none;
  position: absolute;
  top: -2.25em;
  right: -2.25em;
  background: rgba(120, 120, 120, 1);
  padding: 0.25em;
  line-height: 70%;
  border-radius: 50%;
}

.header {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

.modalButtonStyle {
  background-color: #343436;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
  border-radius: 4px;
}

.modalButtonStyle:hover {
  background-color: #454546;
}
