.backgroundContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  min-height: 15em;
  max-width: 30em;
  background-color: white;
}

.footer {
  position: absolute;
  bottom: 0;
}
